.algo-workflow  {
    width: 20%;
    float: right;
    margin-left: 30px;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

.bold   {
    font-weight:bold;
}

.bottom-container   {
    background-color: #3A8891;
    padding: 30px 0 20px;
}

.btn {
  -webkit-border-radius: 27;
  -moz-border-radius: 27;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #FFEFD6;
  font-size: 20px;
  background: #0E5E6F;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 20px 0 40px 0;
  display: inline-block;
}

.btn:hover {
  background: #3A8891;
  text-decoration: none;
}

.cloud-img1  {
    width: 30%;
    position: absolute;
    right: 72%;
    top: 3%;
}

.cloud-img2  {
    width: 30%;
    position: absolute;
    right: 6%;
    bottom: 78%
}

.contact-me  {
    margin: 0;
}

.contact-me-sentence    {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright  {
    font-size: 0.75rem;
    color: #FFEFD6;
    padding: 20px 0 30px 0;
}

.cv {font-weight: bold; }
.cv:link { text-decoration: none; }
.cv:visited { text-decoration: none; }
.cv:hover { text-decoration: none}
.cv:active { text-decoration: none; }

.cv-link    {
    font-size: 0.8rem;
    font-style: italic;
}

.data-analysis  {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.data-heading   {
    clear: left
    margin-top: 30px;
}

.footer-link    {
    font-family: 'Montserrat', sans-serif;
    color: #0E5E6F;
}

.footer-link:link { text-decoration: none; }
.footer-link:visited { text-decoration: none; }
.footer-link:hover { text-decoration: none; color: #40514E; }
.footer-link:active { text-decoration: none; }

h1  {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #0E5E6F;
}

h2  {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    color: #0E5E6F;
}

h3  {
    font-family: 'Montserrat', sans-serif;
    color: #3A8891;
}

hr {
    border-color: #F2DEBA;
    border-style: dotted none none none;
    border-width: 10px;
    width: 6%;
    margin: 100px auto 100px auto;
}

.middle-container   {

}

.mountain-img   {
    width: 100%;
    position: relative;
    bottom: 0;
}

p   {
    line-height: 2;
}

.profile    {
    width: 50%;
    margin: 0 auto 80px auto;
}

.profile-pic    {
    height: 175px;
    position: relative;
    top: 20px;
}

.skill-row {
    width: 60%;
    margin: 80px auto 80px auto;
    text-align: left;
}

.top-container  {
    background-color: #FFEFD6;
    position: relative;
    padding-top: 100px;
}

.trading-pic    {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.flaticon   {
    font-size: 0.75rem;
    color: #40514E;
    position: relative;
    left: 35%;
}